<section class="home-section" id="home">
    <div class="container">
        <div class="home-wrapper">
            <h1 class="home-title">EXIT LABYRINTH</h1>
            <h2 class="home-subtitle">Pick a Room.<br/>
            Solve the Mystery.</h2>
            <p class="home-text">Different worlds behind every door</p>
            <ul class="home-list">
                <li class="home-item">
                    <img src="/img/home/one.png" alt="icon" loading="lazy">
                    <p>COGNITIVE</p>
                </li>
                <li class="home-item">
                    <img src="/img/home/two.png" alt="icon" loading="lazy">
                    <p>TACTICAL</p>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="about-section" id="about">
    <div class="container about-container">
        <div class="about-wrapper">
            <div class="title-container">
                <img src="/img/title/rectangle.png" alt="rectangle" loading="lazy">
                <h2>About the Project</h2>
            </div>
            <h3>Interactive puzzle experiences</h3>
            <p class="about-text">Exit Labyrinth is built around multiple themed quest rooms. Each room offers a different atmosphere, puzzle style, and
            challenge structure. Pick whatever sounds fun - whether you want something chill or brain-melting hard.</p>
        </div>
        <picture>
            <source srcset="
                        /img/about/desk.png 1x,
                        /img/about/desk@2x.png 2x
                        " media="(min-width: 1440px)" />
            <source srcset="
                        /img/about/mob.png 1x,
                        /img/about/mob@2x.png 2x
                        " media="(max-width: 1439px)" />
            <img class="about-img" src="/img/about/mob.png" alt="EXIT LABYRINTH" loading="lazy" />
        </picture>        
    </div>
</section>