<section class="home-section" id="home">
    <div class="container">
        <div class="home-wrapper">
            <h1 class="home-title">EXIT LABYRINTH</h1>
            <h2 class="home-subtitle">Pick a Room.<br/>
            Solve the Mystery.</h2>
            <p class="home-text">Different worlds behind every door</p>
            <ul class="home-list">
                <li class="home-item">
                    <img src="/img/home/one.png" alt="icon" loading="lazy">
                    <p>COGNITIVE</p>
                </li>
                <li class="home-item">
                    <img src="/img/home/two.png" alt="icon" loading="lazy">
                    <p>TACTICAL</p>
                </li>
            </ul>
        </div>
    </div>
</section>