body{
background: #050505;
font-family: "Geist", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #8a8a8a;
}
h2{
  font-family: "Geist", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42857;
    text-transform: uppercase;
    color: #00d9ff;
}
.title-container{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}
h3{
  font-family: "Young Serif", sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 1;
    color: #f1f1ff;
    margin-bottom: 32px;
}
@media only screen and (min-width: 1440px) {
  h3{
font-size: 56px;
line-height: 1.14286;
  }
}