.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 812px;
}
.home-wrapper{
    margin-top: 170px;
    display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.home-title{
font-family: "Young Serif", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.33333;
    text-transform: uppercase;
    text-align: center;
    color: #00d9ff;
}
.home-subtitle{
font-family: "Young Serif", sans-serif;
    font-weight: 400;
    font-size: 58px;
    line-height: 1;
    text-align: center;
    color: #f1f1ff;
    text-transform: none;
}
.home-text{
    font-size: 24px;
    text-align: center;
}
.home-list{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    padding-top: 16px;
    gap: 16px;
}
.home-item{
border: 1px solid #00d9ff;
    padding: 16px;
    width: 163px;
    height: 88px;
box-shadow: 0 0 15px rgba(0, 240, 255, 0.15);
    background: #0f0f0f;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 14px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.33333;
    text-transform: uppercase;
    color: #f1f1ff;
}
@media only screen and (min-width: 1440px) {
.home-section{
    background-image: url("/img/home/desk.png");
    height: 900px;
}
.home-wrapper{
    margin-top: 230px;
}
.home-subtitle{
font-size: 96px;
line-height: 1.04167;
}
.home-list{
    margin-top: 68px;
}
.home-item{
width: 171px;
    height: 88px;
}    
}
/* About the Project */
.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.about-text{
    font-size: 20px;
    line-height: 1.6;
}
@media only screen and (min-width: 1440px) {
.about-container{
flex-direction: row;
gap: 120px;
}
.about-wrapper{
width: 600px;
}
.about-img{
width: 560px;
    height: 640px;
}
}
/* Available Rooms */
.available-swiper .swiper-slide{
    background-image: url("/img/available/one.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 8px;
        width: 343px;
        height: 724px;
        padding: 350px 16px 16px;
}
.swiper-slide-title{
font-family: "Geist", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.33333;
    text-transform: uppercase;
    color: #ffb000;
}
.swiper-slide-subtitle{
    margin-top: 8px;
    margin-bottom: 8px;
font-family: "Young Serif", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.1875;
    color: #f1f1ff;
}
.swiper-slide-list{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: 1px solid #1f1f1f;
}
.swiper-slide-item{
display: flex;
flex-direction: column;
gap: 4px;
}
.swiper-slide-item-text{
    font-weight: 700;
    font-size: 12px;
    line-height: 1.33333;
    text-transform: uppercase;
    color: #454545;
}
.swiper-slide-item-text-two{
    font-size: 14px;
    line-height: 1.14286;
    color: #f1f1ff;
}
.swiper-slide-rules{
    margin-top: 24px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.33333;
    text-transform: uppercase;
    color: #454545;
}
.rules-list{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.riles-item{
    display: flex;
    align-items: center;
    gap: 8px;
        font-weight: 400;
        font-size: 13px;
        line-height: 1.23077;
}
.available-swiper .ss2{
background-image: url("/img/available/two.png");    
}
.available-swiper .ss2 .swiper-slide-title{
color: #00d9ff;
}
.available-swiper .ss3 {
    background-image: url("/img/available/three.png");
}

.available-swiper .ss3 .swiper-slide-title {
color: #bf00ff;
}
.available-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 24px;
}

.available-pagination .swiper-pagination-bullet {
    margin: 0 !important;

    background: #00d9ff;
    border-radius: 8px;

    opacity: 1;

    width: 4px;
    height: 4px;

    transition: all .3s ease;
}

.available-pagination .bullet-large {
    width: 8px;
    height: 8px;
}

.available-pagination .bullet-medium {
    width: 6px;
    height: 6px;
}

.available-pagination .bullet-small {
    width: 4px;
    height: 4px;
}

@media (min-width: 1440px) {
    .available-pagination {
        display: none;
    }
.available-swiper .swiper-wrapper{
    justify-content: center;
    gap: 32px;
}
.available-swiper .swiper-slide {
width: 405px;
    height: 702px;
    padding-left: 32px;
    padding-right: 32px;
    box-shadow: 0 20px 40px  rgba(225, 29, 72, 0.1);
}
.available-swiper .ss2 {
box-shadow: 0 20px 40px  rgba(0, 229, 255, 0.1);
}

.available-swiper .ss3 {
box-shadow: 0 20px 40px  rgba(191, 0, 255, 0.1);
}
}
/* How It Works */
.how-section .title-container{
    justify-content: center;
}
.how-section h3{
    text-align: center;
    padding-bottom: 32px;
    border-bottom: 4px solid #0d6170;
}
.how-img{
    display: none;
}
.how-list{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.how-item{
    display: flex;
        flex-direction: column;
        align-items: center;
}
.how-item-number{
border: 1px solid #10b981;
    border-radius: 40px;
    width: 80px;
    height: 80px;
box-shadow: 0 0 20px  rgba(16, 185, 129, 0.2);
    background: #0f0f0f;
font-family: "Young Serif", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.1875;
    color: #f1f1ff;
display: flex;
align-items: center;
justify-content: center;
}
.how-item-title{
font-family: "Young Serif", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #f1f1ff;
    margin-top: 22px;
    margin-bottom: 12px;
}
.how-item-text{
text-align: center;
}
@media only screen and (min-width: 1440px) {
.how-section .title-container{
    justify-content: center;
}
.how-section h3{
padding-bottom: 0;
border-bottom: none;
}
.how-img{
    display: block;
}
.how-list{
    margin-top: 80px;
flex-direction: row;
justify-content: center;
    gap: 0;
} 
.how-item{
height: 234px;
}
}
/* Features */
.features-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.features-item{
    display: flex;
    flex-direction: column;
    align-items: start;
border: 1px solid #1f1f1f;
    border-radius: 8px;
    padding: 32px;
    width: 343px;
    height: auto;
background: #0f0f0f;
}
.features-item-title{
font-family: "Young Serif", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: #f1f1ff;
    margin-top: 24px;
    margin-bottom: 12px;
}
@media only screen and (min-width: 1440px) {
.features-list{
flex-direction: row;
gap: 32px;
justify-content: center;
}
.features-item{
width: 296px;
    height: 220px;
    padding-right: 30px;
}
.features-item-title{
font-family: "Young Serif", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: #f1f1ff;
    margin-top: 24px;
    margin-bottom: 12px;
}    
}
/* Benefits */
.benefits-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.benefits-wrapper h3{
    margin-bottom: 48px;
}
.benefits-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.benefits-item{
    display: flex;
    align-items: center;
    gap: 24px;
    border-radius: 8px;
        padding: 24px;
        width: 343px;
        height: 92px;
background: #0f0f0f;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22222;
    color: #f1f1ff;
}
@media only screen and (min-width: 1440px) {
.benefits-container{
flex-direction: row-reverse;
justify-content: center;
gap: 140px;
}
.benefits-wrapper{
width: 567px;
}
.benefits-item{
width: 562px;
    height: 72px;
}    
}